.contact {
	background: #f8f8f8;
	padding-bottom: custom-clamp(50px, 284px);
	position: relative;

	&__form {
		max-width: 880px;
	}

	&::before,
	&::after {
		z-index: 0;
		content: '';
		position: absolute;
	}

	&::before {
		width: 814px;
		height: 100%;
		background: url(#{$img-path}illustration-1.png) no-repeat center right/ contain;
		top: 0;
		right: -50%;
		opacity: 0.5;
		@include screen('mobile') {
			right: 0;
		}
		@include screen('tablet') {
			opacity: 1;
		}
	}

	&::after {
		bottom: 30px;
		left: 30px;
		width: 443px;
		height: 147px;
		background: url(#{$img-path}dots-2.svg) no-repeat center / contain;
		display: none;	
		@include screen('tablet'){
			display: block;
		};
	}
}

.form {
	position: relative;
	z-index: 1;
	display: flex;
	flex-direction: column;
	gap: custom-clamp(20px, 30px);

	&__main {
		display: flex;
		flex-direction: column;
		gap: custom-clamp(15px, 20px);
	}

	&__row {
		display: flex;
		flex-direction: column;
		gap: 20px;
		@include screen('tablet') {
			flex-direction: row;
		}
	}

	&__textarea,
	&__input-wrap {
		border: 1px solid #dedede;
		box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
		border-radius: 10px;
		background: $base-color-light;

		// height: 64px;

		&:not(textarea) {
			flex-basis: 50%;
		}
	}

	&__select,
	&__input,
	&__textarea {
		border-radius: 10px;
		padding: custom-clamp(12px, 16px) custom-clamp(15px, 20px);
		font-size: custom-clamp($fz-x, $fz-2x);
		border: 1px solid transparent;
		outline: 0;
		@include placeholder {
			color: #585858;
		}
		&:focus {
			border-color: $accent-color;
		}
	}

	&__select-wrap {
		padding-right: 20px;
	}

	&__select {
		color: #585858;
		appearance: auto;
		text-transform: capitalize;
	}

	&__input,
	&__select {
		height: 100%;
		width: 100%;
	}

	&__textarea {
		resize: none;
		min-height: custom-clamp(193px, 222px);
	}

	&__footer {
		display: flex;
		align-items: center;
		flex-direction: column;
		gap: 40px;
		@include screen('tablet') {
			justify-content: space-between;
			flex-direction: row;
		}
	}

	&__upload {
		width: 100%;
		@include screen('mobile') {
			width: auto;
		}
		min-width: 284px;
		height: custom-clamp(50px, 57px);
		border: 1px solid $base-color-dark;
		border-radius: 7px;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 12px;
		font-weight: $fw-2x;
		cursor: pointer;
		transition: $base-animation-speed;
		background: #f8f8f8;

		& > input {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			opacity: 0;
			height: 100%;
			cursor: pointer;
		}

		& > .icon-upload {
			font-size: 20px;
		}

		&:focus-within,
		&:hover {
			background: $base-color-dark;
			color: $base-color-light;
		}
	}
}
